@import "./../../../assets/styles/abstracts/mixins";
%btn {
  all: unset;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  font-size: var(--toggleThemeBtn-fontSize);
  text-decoration: none;
  border-radius: 10px;
  &:hover {
    background-color: #180053;
  }
}

.navbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #482dd0;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  &__section {
    width: 50%;
    &:first-child {
      text-align: right;
    }
    &:last-child {
      text-align: left;
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
  &__togglThemeBtn {
    padding: 10px 0px;
    color: white;
    font-weight: bold;
    font-size: var(--toggleThemeBtn-fontSize);
    border-radius: 10px;
  }
  &__user {
    color: white;
    padding: 10px 0px;
    font-size: var(--toggleThemeBtn-fontSize);
    user-select: none;
    @include mediaQuery(miniDesktop) {
      display: none;
    }
  }
  &__logoutBtn {
    @extend %btn;
    display: inline-block;
    @include mediaQuery(miniDesktop) {
      display: none;
    }
  }
  &__offCanvasBtn {
    @extend %btn;
    display: none;
    @include mediaQuery(miniDesktop) {
      display: inline-block;
    }
  }
}

.offCanvasMenuContainer {
}

.offCanvasMenu {
  position: relative;
  color: white;
  padding: 0px 15px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: white solid 1px;
    padding: 5px 0px 10px;
    font-size: 20px;
  }
  &__closeOffCanvasBtn {
    all: unset;
    cursor: pointer;
  }
  &__logoutBtn {
    all: unset;
    font-size: 20px;
    padding: 20px 0px;
    cursor: pointer;
  }
}
