@import "./../../../assets/styles/main.scss";

.columnsRow {
  display: grid;
  gap: 40px;
  user-select: none;
  grid-template-columns: repeat(4, auto);
  @include mediaQuery(desktop) {
    grid-template-columns: repeat(4, auto);
  }
  @include mediaQuery(miniDesktop) {
    grid-template-columns: repeat(3, auto);
  }
  @include mediaQuery(tablet) {
    grid-template-columns: repeat(2, auto);
  }
  @include mediaQuery(mobile) {
    grid-template-columns: repeat(1, auto);
  }
}
