@import "./../../../assets/styles/abstracts/mixins";

%input {
  width: 100%;
  padding: var(--input-padding);
  font-size: var(--input-fontSize);
  height: var(--input-height);
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border: none;
  border-radius: 5px;
  &:disabled {
    background-color: var(--bg-tertiary);
    color: var(--text-tertiary);
    &:hover {
      background-color: var(--bg-tertiary);
      color: var(--text-tertiary);
    }
  }
}

.form {
  width: 50%;
  @include mediaQuery(miniDesktop) {
    width: 90%;
  }
  &__label {
    position: relative;
    margin: 20px 0px;
    width: 100%;
    display: block;
  }
  &__input {
    @extend %input;
  }
  &__submitBtn {
    @extend %input;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    &:hover {
      background-color: var(--color-success);
      border-color: var(--color-success);
      color: white;
    }
  }
}
