@import "./../../../assets/styles/abstracts/mixins";

%input {
  width: 100%;
  padding: var(--input-padding);
  font-size: var(--input-fontSize);
  height: var(--input-height);
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.form {
  width: 50%;
  @include mediaQuery(miniDesktop) {
    width: 90%;
  }
  &__label {
    position: relative;
    margin: 10px 0px;
    width: 100%;
    display: block;
  }
  &__input {
    @extend %input;
  }
  &__submitBtn {
    @extend %input;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
  }
}
