.column {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--text-primary);
  border-radius: 10px;
  overflow: hidden;
  &__title {
    text-align: center;
    padding: 5px;
    background-color: #700016;
    color: #ffffff;
    font-size: 24px;
  }
  &__tasks {
    flex-grow: 2;
    max-height: 500px;
    overflow-y: auto;
  }
}
