.column {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--text-primary);
  border-radius: 10px;
  overflow: hidden;
  &__header {
    position: relative;
    background-color: #0a44af;
    text-align: center;
    padding: 5px;
  }
  &__title {
    color: #ffffff;
    font-size: 24px;
  }
  &__removeTaskBtn {
    all: unset;
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
  &__tasks {
    flex-grow: 2;
    max-height: 500px;
    overflow-y: auto;
  }
}
